.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .App-logo {
    height: 80px;
    pointer-events: none;
  }
  
  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  video {
    border: 4px solid white;
    border-radius: 12px;
    margin-top: 20px;
    max-width: 90vw;
    max-height: 60vh;
  }
  